/* ANIMATIONS */
@keyframes inscrire{
    0%{
        rotate: 0deg;
    }
    50%{
        rotate: 5deg;
    }
    75%{
        rotate: -5deg;
    }
    100%{
        rotate: 2deg;
    }
}
.titreAnimaux{
    text-align: center;
    width: 50%;
    height: 80%;
    margin: auto;
    margin-top: 5%;
    border-radius: 2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    h3{
        margin: 3%;
        padding: 3%;
        background-color: rgba(15, 91, 66, 0.6);
        border-radius: 2%;
        transition: transform 0.3s ease-in-out;
    }

}
.titreAnimauxSuivant{
    text-align: center;
    width: 50%;
    height: 80%;
    margin: auto;
    margin-top: 5%;
    border-radius: 2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    a{
        text-decoration: none;
        h3{ 
        margin: 3%;
        padding: 3%;
        background-color: orange;
        color: white;
        font-weight: bold;
        border-radius: 2%;
        }
    }
}
.titreAnimauxSuivant a:hover h3{
    background-color: rgba(15, 91, 66, 0.6);
    transform: scale(1.2);
    animation: inscrire 1s infinite alternate ease-in-out;
}

.animauxPhotos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2% auto;
        overflow: hidden;
        text-decoration: none;
        position: relative;
        
        img{
            align-items: center;
            width: 100%;
            height: auto;
            border-radius: 2%;     
            object-fit: cover; 
            transition: transform 0.3s ease-in-out;
        }
        span{
            margin-top: 5px;
            font-size: 16px;
            padding: 5px 10px;
            border-radius: 5px;
            color: black;
            background-color: rgba(15, 91, 66, 0.6);
            text-align: center;
            width: 100%; 
            transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
        }
    } 
}
.animauxPhotos a:hover img{
    transform: scale(1.2);
}
.animauxPhotos a:hover span {
    background-color: rgba(255, 165, 0, 0.8);/* Change de couleur au survol */
    color: white;
    transform: scale(2.2) translateY(-70px);

    
}
@media screen and (max-width: 949px){ /* RESPONSIVE SUR ECRAN MOBILE*/
    .animauxPhotos{
        grid-template-columns: repeat(1,1fr);
    }
}



