*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */ /* POUR LES TITRES*/
}
 /* Masque les sous-menus */
.submenu {
    display: none;
}
/* Affiche le sous-menu actif */
.submenu.active {
    display: block;
}
/* Cache le menu principal lorsqu'un sous-menu est actif */
.menu-hidden {
    display: none !important;
}
/* ANIMATIONS */
@keyframes inscrire{
    0%{
        rotate: 0deg;
    }
    50%{
        rotate: 10deg;
    }
    100%{
        rotate: -10deg;
    }
}




/*NAVIGATION POUR ECRAN LARGE*/
nav{
    ul {
        font-weight: bold;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly; 
    }

    ul li {
        display: inline-block;
        position: relative;
        background-color: rgb(15, 91, 66, 0.6);border-radius: 10px;
        padding: 10px 50px;
        margin-top: 10px;
    }

    ul li a {
        display: block;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
    }

/* Style pour les sous-menus */
    ul li ul.sousMenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        border-radius: 10px;
        min-width: 200px;
        z-index: 1000;
    }

    ul li ul.sousMenu li {
        display: block;
        width: 100%;  /* Prend toute la largeur du li parent */
        box-sizing: border-box; /* Assure que le padding ne dépasse pas */
        padding: 10px;
        text-decoration: none;
        background-color: rgb(15, 91, 66,0.1);
    }

    ul li ul.sousMenu li a {
        padding: 10px;
        text-decoration: none;
        color: black;

    }

/* Affichage du sous-menu au survol */
    ul li:hover ul.sousMenu {
        display: block;
        
    }

/* Ajout un effet de survol sur les liens */
    ul li a:hover {
        background-color: #55555569;
        border-radius: 10px;
    }

}
/*IMAGES QUI REMPLACENT CAROUSEL SUR ECRAN LARGE*/
.imagesGrid{
    display: none;
    a{
        transition: transform 0.3s ease;
    }
    a:hover{
        transform: scale(1.1);
    }
}
/*CAROUSEL MENU*/
#carouselMenu{
    display: block;
}
#carouselMenu img{
        width: 100%;
        height: 30vw;
    }
.carousel-control-next-icon {
    background-image: url(../images/suivant.png) !important; /*AJOUTE L'IMAGE ET FORCE BOOTSTRAP A L'ACCEPTER*/
    background-size: contain;
    width: 40px;
    height: 40px;
}
.carousel-control-prev-icon{
    background-image:  url(../images/precedent.png) !important;
    background-size: contain;
    width: 40px;
    height: 40px;
}
/* CAROUSEL PARC*/
#carouselParc{
    display: block;
    margin: 5% 10%;
    } 
#carouselParc img{
    width: 100%;
    height: 80vw;
    border-radius: 5%;  
    }

/* header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .fondHeader{
        position: relative;
        width: 100%;
        height: 100px;
        background-size: cover;
        background-position: center;
    }
    .dropdown-toggle::after{
        content: none; /* Enlève l'icone de Bootstrap */
    }
    .btnGroup{ /*Menu burger*/
        position: absolute;
        align-self: center;
        left: 20px;
       
        .dropdown-menu .dropdown-menu { /*Sous menus*/
            background-color: white;
            .dropdown-item{
                background-color: rgb(15, 91, 66, 0.1);
            }
        }
        .dropdown-submenu .dropdown-menu {/*Permet un bon alignement des menus et du bouton burger*/
            top: 100%; 
            left: 0;   
        }
        .dropdown-submenu{ /*Place les sous menus sous les menus parent*/
            position: relative;
        }
        .dropdown-menu{
            width: 92vw; /* largeur du menu*/ 
            .dropdown-item {
                background-color: rgb(15, 91, 66, 0.6);
                margin-bottom: 20px;
                font-style: oblique;
                font-weight: bold;
            }   
      
        }
        .dropdown-item-menu{
            text-align: center;
        }
    }
    .logo{
        position: absolute;
        align-self: center;       
    }
    .btnAccueil{
        position: absolute;
        align-self: center;
        right: 20px;
    }
}

/* BARRE SEPARATION SOUS LE HEADER*/
#separate{
    border: solid black 2px;   
}

    /*TEXTE ACCUEIL*/
.presentation{
    padding: 20px 25px;
    
    h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 30px;
        text-align: center;
    }
    p{
        text-align: center;
    }
        
}
    /*INSCIPTION NEWSLETTER + BOUTON*/

.newsLetter{
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    background-color: #F5EFE6;
    
    p{
        color: #2B1D00;
    }
    .inscription{
        color: #433831;
        font-weight: bold;
    }
    input[type="text"]{
        width: 80%; /* Largeur ajustable */
        padding: 10px;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }
    input[type="submit"] {
        width: 85%; /* Largeur du bouton */
        padding: 10px;
        margin-top: 15px;
        background-color: orange;
        border: none;
        color: white;
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        
    }
    input[type="submit"]:hover{
        background-color: #e29015;
    }
    #messagePHP{
        color: red;
    }
}




/* BOUTON ACCUEIL */
#btnAccueil{
    text-align: center;
    padding: 20px;
    a{
    border: 1px solid black;  
    border-radius: 10%;
    padding: 5px;
    color: black;
    text-decoration: none;
    background-color: orange;
    }
}
/* PAGES DU FOOTER,MENTIONS LEGALES, CGU, CONFIDENTIALITE, PROPRIETE INTELLECTUELLE, COOKIES */
.obligatoire{
    border: solid lightgray 2px;
    box-shadow: 5px 5px 5px whitesmoke ;
    background-color: whitesmoke;
    text-align: center;
    padding: 4%;
    margin: 5% 5%;
    ul{
        text-align: left;
    }
    h2{
        font-weight: bold;
        font-size: larger;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    }
    h5{
        font-size: larger;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    }

}
/* FOOTER */
footer{
    padding: 1% ;
    background-color: #2E3835;
    width: 100%;
    height: auto;
    .socialLinks{
        display: flex;
        justify-content: center;
        gap: 10px;
        p{
            color: white;
        }
        a:hover{
            animation: inscrire 0.2s infinite alternate;
        }
    }
    .footerLinks{
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            color: white;
            text-decoration: none;
            transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
        }
    }
    .footerLinks a:hover{
        color: #FFD700;
        transform: scale(1,1);
    }
}

/*BOUTON RETOUR ARRIERE*/
.back-button{
    margin: 2% 0;
    padding: 5px;
    background-color: orange;
    color: black;
    border-radius: 2px;
    width: 15%;
}
/*PAGES JEU*/
#containerTotalJeu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    
    /* background-image: linear-gradient(to top, rgba(21, 64, 1, 0.7)0%, rgba(59, 115, 2, 0.7) 85%); */
}
#presentationJeu{
    background-image:linear-gradient(to top, rgba(21, 64, 1, 0.7)0%, rgba(59, 115, 2, 0.7) 31%); /*Couleur fond pages jeu*/
    text-align: center;
    padding: 10px 25px;
    h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}
.lien-jeu{
    position: relative; /* Nécessaire pour positionner le texte */
    display: inline-block; 
}
.lien-jeu a {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    text-decoration: none; 
    font-size: 20px; 
    font-weight: bold; 
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px; 
    border-radius: 5px; 
}
/*CONNEXION JEU*/
#containerTotalConnexion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;
    background-image: linear-gradient(to top, rgba(21, 64, 1, 0.7)0%, rgba(59, 115, 2, 0.7) 85%);
} 
form{
    margin: 0 auto;
    max-width: max-content;
    border: solid lightgray 2px;
    background-color: rgba(245, 245, 245, 0.849);
    text-align: center;
    padding: 20px;
    .mb-3{
        padding: 5px 20px;
    }
    #forgetPassword{
        color: black;
        font-style: italic;
    }
    #containerBtn{
        text-align: center;
        #inscriptionButton{
            margin: auto;
            margin-top: 10px;
            padding: 5px;
            background-color: orange;
            color: black;
            border-radius: 2px;
        }
    }     
}
.bandeauSeConnecter{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    margin: 0px 50px 0px 50px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    text-align: center;
}
.couleur-connexion{
    background-image: linear-gradient(to top, rgba(21, 64, 1, 0.7)0%, rgba(59, 115, 2, 0.7) 85%);
}
#creation-compte{
    p{
        margin: 20px 50px 0px 50px;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: whitesmoke;
        text-align: center;
    }
    a{
        text-decoration: none;
        color: #1E88E5;
    }
    a:hover{
        text-decoration: underline;
    }
}

/*PAGE ACCES IMPOSSIBLE AU JEU*/
#erreurPage{
    text-align: center;
    background-image: linear-gradient(to top, rgba(21, 64, 1, 0.7)0%, rgba(59, 115, 2, 0.7) 85%);
    h2{
        margin-bottom: 20px;
    }
    a{
        color: orange;
        font-size:x-large;
    }
    #erreurRetour{
        
        img{
            border: solid 2px black;
            width: 50%;
            height: 50%;
            margin: 20px;
        }
    }
}

/*INSCRIPTION JEU*/
#formulaireInscription{
    margin: 0 auto;
    max-width: max-content;
    border: solid lightgray 2px;
    background-color: rgba(245, 245, 245, 0.849);
    text-align: center;
    padding: 20px;

    #errorCheckbox{
        display: none;
        max-width: 243.8px;
    }
    #messageConfirmPassword{
        max-width: 243.8px;
    }
    #messagePassword{
        max-width: 243.8px;
    }
    label{
        display: block;
        margin-bottom: 5px;
        /* font-weight: bold; */
    }
    input{ /*FORMULAIRE */
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    } 
    p{
        width: 100%;
        margin: 0px 0px;
    }
    #errorCheckbox{/*CHECKBOX A VALIDER*/
        color: red;
    }
    #lienCgu{
        text-decoration: none;
    }
    #containerInscriptionButton{ /* BOUTON VALIDER*/
        display: flex;
        padding: 10px;
        #inscriptionButton{
            margin: auto;
            padding: 5px;
            background-color: orange;
            color: black;
            border-radius: 2px;
        }
    }
}


@media (max-width: 949px){
    nav{
        display: none;
    }
}

@media screen and (min-width: 950px){
    header .fondHeader{
            background-size: cover;
    }

    /*DISPARITION MENU BURGER ECRAN LARGE*/
    .btnGroup{
        display: none;
    }
    /*APPARATION MENU ECRAN LARGE*/
    nav{
        display: block;
    }

    /*DISPARITION DES BOUTONS NEXT ET PREV DES CAROUSELS*/
    #carouselParc .carousel-control-next {
        display: none; 
    }
    #carouselParc .carousel-control-prev{
        display: none;
    }
    #carouselMenu .carousel-control-next{
        display: none;
    }
    #carouselMenu .carousel-control-prev{
        display: none;
    }
    .carousel-inner{/*DISPARITION DES CAROUSEL*/
        display: none; 
    }
    .imagesGrid{/*REMPLACEMENT CAROUSEL*/
        display: flex; 
        justify-content: center; 
        gap: 20px; 
        padding: 20px;
    }
    .imagesGrid a img{
            width: 100%;
            height: auto;
            border-radius: 10px; 
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

    .presentation{/*TEXTE INDEX*/
        padding: 0 150px;
    }
    .newsLetter{/*INSCRIPTION NEWSLETTER INDEX*/
        border-radius: 2%;
        margin: 0 10%
    }
    .obligatoire{/*PAGES OBLIGATOIRE DU FOOTER*/
        margin: 0 30%;
        border-radius: 2%;
    }
}

